* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(grey, yellow);
  height: 100wh;
  background-size: cover;
  background-attachment: fixed;

  background-repeat: no-repeat;
}

.lang-card:hover {
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
}
.lang-logo {
  transition: transform 0.2s;
}

.lang-card:hover .lang-logo {
  transform: scale(1.1);
}
